<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Welcome Back</ion-title>
    <p class="subTtitle">Sign in to access your account</p>
  </div>

  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="errorControl['email'].touched && errorControl['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors.required">
          Email is required
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors.email">
          Email should be valid
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="errorControl['password'].touched && errorControl['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors.required">
          Password is required
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors.pattern">
          Password must have at least:
          - One Character
          - One Capital Letter
          - One Number
          - 8 characters
        </ion-text>
      </div>

      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" style="color:#FFC33F">Forgot password?</a>
      </div>

      <div class="signupLink">
        <p> New member?<a style="color:#FFC33F" [routerLink]="['/signup']">Signup now</a> </p>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px">
      <ion-fab-button (click)="login()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
